<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Menu</h1>
	<ul>
		<li><a href="punto1?num=5">Punto1</a></li>
		<li><a href="punto2?year=2004">Punto2</a></li>
		<li><a href="punto3?n1=12&n2=15&n3=20&n4=101&n5=123">Punto3</a></li>
		<li><a href="punto4?month=32">Punto4</a></li>
		<li><a href="punto5?month=1">Punto5</a></li>
		<li><a href="punto6?note=-3">Punto6</a></li>
		<li><a href="punto7?j=40&i=2">Punto7</a></li>
		<li><a href="punto8?m=4">Punto8</a></li>
		<li><a>Punto9</a></li>
		<li><a>Punto10</a></li>
		<li><a>Punto11</a></li>
		<li><a href="punto12?h=1000">Punto12</a></li>
	</ul>
</body>
</html>