<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Resultado</h1>
	<h2>
		La secuencia es: 
		<span th:text="${rp7a0}"></span>, <span th:text="${rp7a1}"></span>, <span th:text="${rp7a2}"></span>, <span th:text="${rp7a3}"></span>, <span th:text="${rp7a4}"></span>, 
		<span th:text="${rp7a5}"></span>, <span th:text="${rp7a6}"></span>, <span th:text="${rp7a7}"></span>, <span th:text="${rp7a8}"></span>, <span th:text="${rp7a9}"></span>, 
		<span th:text="${rp7a10}"></span>, <span th:text="${rp7a11}"></span>, <span th:text="${rp7a12}"></span>, <span th:text="${rp7a13}"></span>, <span th:text="${rp7a14}"></span>, 
		<span th:text="${rp7a15}"></span>, <span th:text="${rp7a16}"></span>, <span th:text="${rp7a17}"></span>, <span th:text="${rp7a18}"></span>, <span th:text="${rp7a19}"></span>, 
		<span th:text="${rp7a20}"></span>, <span th:text="${rp7a21}"></span>, <span th:text="${rp7a22}"></span>, <span th:text="${rp7a23}"></span>, <span th:text="${rp7a24}"></span>, 
		<span th:text="${rp7a25}"></span>, <span th:text="${rp7a26}"></span>, <span th:text="${rp7a27}"></span>, <span th:text="${rp7a28}"></span>, <span th:text="${rp7a29}"></span>, 
		<span th:text="${rp7a30}"></span>, <span th:text="${rp7a31}"></span>, <span th:text="${rp7a32}"></span>, <span th:text="${rp7a33}"></span>, <span th:text="${rp7a34}"></span>, 
		<span th:text="${rp7a35}"></span>, <span th:text="${rp7a36}"></span>, <span th:text="${rp7a37}"></span>, <span th:text="${rp7a38}"></span>, <span th:text="${rp7a39}"></span>, 
		<span th:text="${rp7a40}"></span>
		</h2>
	<a href="menu">Volver al Menu</a>
</body>
</html>