<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Resultado</h1>
	<h2>
		El numero <span th:text="${n1}"></span> es <span th:text="${rn1}"></span>
	</h2>
	<h2>
		El numero <span th:text="${n2}"></span> es <span th:text="${rn2}"></span>
	</h2>
	<h2>
		El numero <span th:text="${n3}"></span> es <span th:text="${rn3}"></span>
	</h2>
	<h2>
		El numero <span th:text="${n4}"></span> es <span th:text="${rn4}"></span>
	</h2>
	<h2>
		El numero <span th:text="${n5}"></span> es <span th:text="${rn5}"></span>
	</h2>
	<a href="menu">Volver al Menu</a>
</body>
</html>