<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Resultado</h1>
	<h2>
		Los multiplos de <span th:text="${m}"></span> son :
		<span th:text="${rp8a0}"></span>, <span th:text="${rp8a1}"></span>, <span th:text="${rp8a2}"></span>, <span th:text="${rp8a3}"></span>, <span th:text="${rp8a4}"></span>, 
		<span th:text="${rp8a5}"></span>, <span th:text="${rp8a6}"></span>, <span th:text="${rp8a7}"></span>, <span th:text="${rp8a8}"></span>, <span th:text="${rp8a9}"></span>, 
		<span th:text="${rp8a10}"></span>, <span th:text="${rp8a11}"></span>, <span th:text="${rp8a12}"></span>, <span th:text="${rp8a13}"></span>, <span th:text="${rp8a14}"></span>, 
		<span th:text="${rp8a15}"></span>, <span th:text="${rp8a16}"></span>, <span th:text="${rp8a17}"></span>, <span th:text="${rp8a18}"></span>, <span th:text="${rp8a19}"></span>, 
		<span th:text="${rp8a20}"></span>, <span th:text="${rp8a21}"></span>, <span th:text="${rp8a22}"></span>, <span th:text="${rp8a23}"></span>, <span th:text="${rp8a24}"></span>
	</h2>
	<a href="menu">Volver al Menu</a>
</body>
</html>